*{padding: 0px; margin: 0px;}
h2{color: blue}
body{background-color: #e4eaf7}
.menu{background-color: white; width: 100vw; height: 70px;display: table-cell; vertical-align: middle;}
.helpme0{margin-left: 24vw}
.helpme{margin-left: 20vw}
.helpme1{margin-left: 3vw}
.helpme2{margin-left: 3vw}
.bot{margin-left: 3vw; background-color: #cfaa9a; 
		padding: 30px; width: 189px;
		text-align: center;
		border-radius: 15px 15px 0px 0px}
.image{margin-left: 2vw; margin-right: 2vw; margin-top: 5vw}
.content{position: absolute; top: 28vw; right: 25%}
.card{text-align: center; padding: 25px; background-color: white; margin-left: 20px; margin-right: 20px; border-radius: 5px}
.card h4{color: gray}
.card:hover{box-shadow: 5px 5px 5px 5px #7777}
.down{width: 100vw; height: 3vw; position: absolute; vertical-align: middle; background-color: #42AAFF; top: 44.5vw; text-align: center}
.down a{margin-left: 20px; margin-right: 20px; margin-top: 5px}
.ss{position: absolute;right: 45%}
